body {
	background-color: #f43c50;
	font-family: 'Catamaran', sans-serif;
	color: white;
}

.container {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
	padding-top: 10px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/*HEADER*/

header {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

h1, h3 {
	font-weight: 500;
}

.logo-box {
	width: 75%;
}

.menu-box {
	padding-top: 15px;
	width: 25%;
	text-align: right;
}

.menu-box>h3 {
	margin-top: 0;
}

#pen-icon {
	height: 35px;
	width: auto;
}

/*CONTENT*/

#content {
	width: 100%;
}

.haiku-box {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.username-section {
	font-weight: 500;
	font-size: 14pt;
	padding-top: 10px;
	width: calc(15% - 40px);
	text-align: right;
	padding-right: 40px;
}

.haiku-section {
	width: 65%;
}

.haiku-container>p {
	font-size: 32pt;
	font-weight: 900;
	line-height: 120%;
}

.vote-box {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
}

.vote-box>p {
	font-weight: 500;
	font-size: 14pt;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 30px;
}

.vote-icon {
	padding-top: 30px;
	padding-right: 10px;
	height: 25px;
	width: auto;
}

.comment-section {
	width: 20%;
}

/*COMMENTS*/

.comment-header {
	display: flex;
	flex-wrap: wrap;
}

.comment-header>p {
	font-weight: 500;
	font-size: 14pt;
	padding-left: 10px;
}

#comment-icon {
	padding-top: 9px;
	height: 15px;
	width: auto;
}

p {
	margin: 0;
}

.comment-username {
	font-weight: 900;
}

.comment-text {
	font-weight: 500;
	font-size: 10pt;
}

.hide {
	display: none;
}

