body {
	background-color: #f43c50;
	font-family: 'Catamaran', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

.container {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
	padding-top: 10px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

input[type='text'], input[type='password'], textarea {
	background-color: #e03b55;
	border: 0;
}

.user-prompt {
	text-decoration: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 12pt;
	outline: none;
}


/*HEADER*/

header {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

h1, h3 {
	font-weight: 500;
}

.logo-box {
	width: 75%;
}

.logo-box>a {
	font-family: 'Catamaran', sans-serif;
	color: white;
	text-decoration: none;
}

.menu-box {
	padding-top: 15px;
	width: 25%;
	text-align: right;
}

.header-username>h3 {
	margin: 0;
}

#pen-icon {
	height: 35px;
	width: auto;
}

.header-username {
    text-align: right;
}

.fa  {
	color: white;
}

.signin-header-box {
	margin-top: 20px;
}


/*CONTENT*/

.haiku-box {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 470px;
    padding-top: 100px;
}

.username-section {
	font-weight: 500;
	font-size: 14pt;
	padding-top: 10px;
	width: calc(15% - 40px);
	text-align: right;
	padding-right: 40px;
}

.haiku-section {
	width: 65%;
}

.haiku-container>p {
	font-size: 32pt;
	font-weight: 900;
	line-height: 120%;
}

.vote-section {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
}

.vote-count {
	font-weight: 500;
	font-size: 14pt;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 30px;
}

.vote-box {
	display: flex;
    flex-wrap: wrap;
}

.vote-icon {
	padding-top: 30px;
	padding-right: 10px;
	height: 25px;
	width: auto;
	outline: none;
}

.comment-section {
	width: 20%;
}

/*COMMENTS*/

.comment-header {
	display: flex;
	flex-wrap: wrap;
}

.comment-header>p {
	font-weight: 500;
	font-size: 14pt;
	padding-left: 10px;
}

.comment-icon {
	padding-top: 9px;
	height: 15px;
	width: auto;
	outline: none;
}

p {
	margin: 0;
}

.comment-username {
	font-weight: 900;
}

.comment-text {
	font-weight: 500;
	font-size: 10pt;
}

.comment-box {
	height: 70%;
	overflow: scroll;
}

.button-box>input {
	border: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 14pt;
	outline: none;
}

.new-comment-text {
	outline: none;
	width: 100%;
	height: 40px;
}

.hide {
	display: none;
}


/*ENTRY PAGE*/

.entry-form {
	margin: 40px;
}

.haiku-input {
	font-size: 28pt;
	font-family:  'Catamaran', sans-serif;
	color: white;
	outline: none;
	padding-left: 15px;
	padding-top: 5px;
}

.five-syllable {
	height: 60px;
	width: 600px;
	margin-bottom: 15px;
}

.seven-syllable {
	height: 60px;
	width: 800px;
	margin-bottom: 15px;
}

::-webkit-input-placeholder {
   color: #d1d1d1;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d1d1d1;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d1d1d1;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

:-ms-input-placeholder {  
   color: #d1d1d1;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

.color-choice {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

input[type="radio"]{
    visibility:hidden;
	outline: none;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.color-option {
	border: 4px solid;
	border-radius: 50%;
	border-color: #7f7f7f;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	z-index: 1000;
}

.red {
	background-color: #f43c50;
}

.blue {
	background-color: #3bb3e8;
}

.green {
	background-color: #53de8a;
}

.pink {
	background-color: #e046f1;
}

.yellow {
	background-color: #f3dc4c;
}

.black {
	background-color: #282828;
}

.button-box {
	width: 100%;
	text-align: right;
	margin-top: 15px;
}

.button {
	background-color: #f43c50;
	border: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 32pt;
/*	padding-right: 100px;
*/	outline: none;
}

/*PERMALINK*/

.permalink-footer {
	width: 100%;
	text-align: right;
}

.mainpage-link {
	text-decoration: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 16pt;
	padding-right: 100px;
	outline: none;
}

/*SIGN IN*/

.user-form-box {
	padding-top: 50px;
}

.form-header>h2 {
	font-weight: 500;
}

.signup-in-form {
	text-align: center;
	margin: auto;
}

.user-form-row {
	padding-bottom: 10px;
}

.user-input {
	height: 30px;
	width: 300px;
	outline: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 16pt;
	padding-left: 10px;
	margin-left: 15px;
}

.signin-exchange {
	text-align: left;
}

.signin-exchange>a {
	text-decoration: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 12pt;
	outline: none;
}
