body {
	background-color: #f24962;
	font-family: 'Catamaran', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

.container {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

input[type='text'], input[type='password'], textarea {
	border: 0;
}

a {
	text-decoration: none;
	outline: none;
	color: white;
}

.userpage-link {
	font-size: 14pt;
}


/*HEADER*/

header {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.logo-box {
	width: 30%;
}

#logo {
	padding-top: 40px;
	width: 130px;
	height: auto;
}

.header-username-box {
	width: 55%;
	text-align: right;
	padding-top: 45px;
}

.add-new-box {
	width: 15%;
	position: relative;
}

.signin-header-box {
	padding-top: 49px;
	width: 70%;
	text-align: right;
}

.user-prompt {
	font-size: 12pt;
}

#pen-icon {
	height: 35px;
	width: auto;
	position: absolute;
    bottom: 9px;
    right: 10px;
}

.header-username {
    text-align: right;
}

#signedin-username {
	margin-right: 5px;
}

#signout-icon {
	height: 12px;
	width: auto;
}

.fa  {
	color: white;
}


/*CONTENT*/

.haiku-box {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    padding-top: 160px;
}

.username-section {
	padding-top: 10px;
	width: calc(16% - 40px);
	text-align: right;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.haiku-section {
	width: 64%;
	min-width: 650px;
}

.haiku-text {
	font-size: 30pt;
	font-weight: 900;
	line-height: 120%;
}

.normal {
	
}

.wide {
	font-size: 26pt; 
}

.vote-section {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
}

.vote-count {
	font-weight: 500;
	font-size: 14pt;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 30px;
}

.vote-box {
	display: flex;
    flex-wrap: wrap;
}

.vote-icon {
	padding-top: 30px;
	padding-right: 10px;
	height: 25px;
	width: auto;
	outline: none;
}

.edit-box {
	margin-left: auto;
	margin-right: 10px;
	font-size: 10pt;
}

.delete {
	float: left;
	padding-top: 15px;
}

.comment-section {
	width: 20%;
}

/*COMMENTS*/

.comment-header {
	display: flex;
	flex-wrap: wrap;
}

.comment-header>p {
	font-weight: 500;
	font-size: 14pt;
	padding-left: 10px;
}

.comment-icon {
	padding-top: 9px;
	height: 15px;
	width: auto;
	outline: none;
}

p {
	margin: 0;
}

.comment-username {
	font-weight: 900;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.comment-text {
	font-weight: 500;
	font-size: 10pt;
}

.comment-list-container {
	height: 70%;
	width: 100%;
	overflow-x: hidden;
}

.individual-comment-box {
	margin-top: 5px;
	margin-bottom: 10px;
}

.comment-edit-box {
	display: flex;
	flex-wrap: wrap;
}

.comment-edit-button {
	height: 15px;
	width: auto;
	padding-top: 5px;
	padding-right: 13px;
	padding-bottom: 10px;
	cursor: pointer;
}

#comment-edit {
	padding-top: 6px;
}

.comment-button {
	background: transparent;
	border: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 12pt;
	outline: none;
}

.new-comment-text {
	margin-top: 10px;
	outline: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 10pt;
	width: 95%;
	height: 40px;
}

.hide {
	display: none;
}


/*ENTRY PAGE*/

.cancel-edit-box {
	width: 100%;
	text-align: right;
}

.edit-link {
	font-size: 10pt;
	margin-right: 10px;
}

.entry-form {
	margin: 40px;
	margin-left: 135px;
}

.haiku-input {
	font-size: 28pt;
	font-family:  'Catamaran', sans-serif;
	color: white;
	outline: none;
	padding-left: 15px;
	padding-top: 5px;
}

.five-syllable {
	height: 60px;
	width: 600px;
	margin-bottom: 15px;
}

.seven-syllable {
	height: 60px;
	width: 800px;
	margin-bottom: 15px;
}

::-webkit-input-placeholder {
   color: #000000;
   opacity: 0.3;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;
   opacity: 0.3;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;
   opacity: 0.3;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

:-ms-input-placeholder {  
   color: #000000;
   opacity: 0.3;
   font-family: 'Catamaran', sans-serif;
   font-weight: 500;
   font-size: 32pt;
}

.color-choice {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

input[type="radio"]{
    visibility:hidden;
	outline: none;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.color-option {
	border: 4px solid #565656; 
	border: 4px solid rgba(0, 0, 0, .3);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	z-index: 1000;
}

.red {
	background-color: #f24962;
}

.blue {
	background-color: #44bfea;
}

.green {
	background-color: #61e296;
}

.pink {
	background-color: #da65ef;
}

.yellow {
	background-color: #f4e067;
}

.black {
	background-color: #333333;
}

.red-accent {
	background-color: #e03b55;
}

.blue-accent {
	background-color: #2b85ae;
}

.green-accent {
	background-color: #3da567;
}

.pink-accent {
	background-color: #c93fda;
}

.yellow-accent {
	background-color: #cdb942;
}

.black-accent {
	background-color: #7b7b7b;
}

.button-box {
	width: 100%;
	text-align: right;
}

.user-submit-button {
	background-color: #f24962;
	border: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
	font-size: 16pt;
	outline: none;
	height: 30px;
	border-bottom: 1px solid white;
	background: transparent;
}

/*PERMALINK*/

.permalink-footer {
	width: 100%;
	text-align: right;
}

.mainpage-link {
	font-size: 16pt;
	margin-right: 100px;
}

/*SIGN IN*/

.user-form-box {
	padding-top: 50px;
}

.form-header>h2 {
	font-weight: 500;
}

.signup-in-form {
	text-align: right;
	margin: auto;
}

.user-form-row {
	padding-bottom: 10px;
}

.user-input {
	height: 35px;
	width: 300px;
	outline: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 16pt;
	padding-left: 10px;
	margin-left: 15px;
}

.signin-exchange {
	text-align: left;
}

.signin-exchange>a {
	text-decoration: none;
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 12pt;
	outline: none;
}
