<!DOCTYPE html>
<html>
<head>
	<title>HAIKUr</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:500,900" rel="stylesheet">
	<script src="https://use.fontawesome.com/26b2bf4975.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src='/js/script.js'></script>
</head>
<body>
	<div class='color-box {{header_color}}'>
		<div class='container'>
			<header>
				<div class='logo-box'>
					<a href='/'>
						<a href='/'>
						<img src="/assets/logo.png" id='logo'>
					</a>
				</div>
			</header>
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>