<!DOCTYPE html>
<html>
<head>
	<title>HAIKUr</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:500,900" rel="stylesheet">
	<script src="https://use.fontawesome.com/26b2bf4975.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src='/js/script.js'></script>
	<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
</head>
<body class='{{header_color}}'>
	<div class='color-box {{header_color}}'>
		<div class='container'>
			<header>
				<div class='logo-box'>
					<a href='/'>
						<img src="/assets/logo.png" id='logo'>
					</a>
				</div>
				{% if signedin_username != '' %}
				<div class='header-username-box'>
					<div class='username-logout'>
						<a href='/user/{{signedin_username}}' class='userpage-link' id='signedin-username'>
							{{signedin_username}}
						</a>
						<a href='/signout'>
							<img src="/assets/logout.png" id='signout-icon'></i>
						</a>
					</div>
				</div>
				<div class='add-new-box'>
					<a id='add_new_button' href="/newpost">
						<img src='/assets/pen.png' id='pen-icon'>
					</a>
				</div>
				{% else %}
				<div class='signin-header-box'>
					<a href='/signin' class='user-prompt signin'>Sign in to post</a>
				</div>
				{% endif %}
			</header>
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>