<!DOCTYPE html>
<html>
<head>
	<title>HAIKUr</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class='container'>
		<header>
			<div class='logo-box'>
				<h1>HAIKUr</h1>
				<!-- LOGO HERE -->
			</div>
			<div class='menu-box'>
				<h3>{{signedin_username}}<h3>
				<form id='add_new_button' action="/newpost">
    			<input type="submit" value="Add a new post"/>
			</form>
			</div>
		</header>
		<section id='content'>
			{% block content %}
			{% endblock %}
		</section>
	</div>
</body>
</html>