{% extends "base.html" %}

{% block content %}
	{% for haiku in haikus: %}
	<div class='color-box {{haiku.color}}'>
		<div class='container'>
			<div class='haiku-box'>
				<div class='haiku-section'>
					<div class='username-container'>
						<a href='/user/{{haiku.username}}' class='userpage-link'>
							{{haiku.username}}
						</a>
					</div>
					<div class='haiku-container'>
						<p class='haiku-text {{haiku.width}}'>
							{{haiku.stanza1}}<br>
							{{haiku.stanza2}}<br>
							{{haiku.stanza3}}<br>
						</p>
					</div>
					<div class='vote-section' data-haikuid='{{haiku.key.id()|string}}'>
						<div class='vote-box upvote-box'>
							{% if signedin_username in haiku.upvote_usernames %}
								{% set upvote_img = '/assets/upvote_selected.png' 	%}
							{% else %}
								{% set upvote_img = '/assets/upvote.png' %}
							{% endif %}
							<input type='image' src='{{upvote_img}}' class='vote-icon' id='upvote'>
							{% set upvotes = haiku.upvotes %}
							{% if upvotes == 0 %}
								{% set upvotes = '' %}
							{% endif %}
							<p class='vote-count upvote-count'>{{upvotes}}</p>
						</div>
						<div class='vote-box downvote-box'>
							{% if signedin_username in haiku.downvote_usernames %}
								{% set downvote_img = '/assets/downvote_selected.png'%}
							{% else %}
								{% set downvote_img = '/assets/downvote.png' %}
							{% endif %}
							<input type='image' src='{{downvote_img}}' class='vote-icon' id='downvote'>
							{% set downvotes = haiku.downvotes %}
							{% if downvotes == 0 %}
								{% set downvotes = '' %}
							{% endif %}
							<p class='vote-count downvote-count'>{{downvotes}}</p>
						</div>
					</div>
					{% if signedin_username == haiku.username %}
					<div class='edit-box'>
						<a href='/{{haiku.key.id()}}/edit' class='edit-link'>EDIT</a>
					</div>
					{% endif %}
				</div>
				<div class='comment-section'>
					<div class='comment-header'>
						<input type='image' class='comment-icon' src='/assets/comments.png'>
						<input type='image' class='comment-icon hide' src='/assets/comments_close.png'>
						{% set comment_query = Comment.query(Comment.haiku_ref==haiku.key).order(Comment.created_date) %}
						{% set comment_count = comment_query.count() %}
						{% if comment_count == 0 %}
							{% set comment_count = '' %}
						{% endif %}
						<p>{{comment_count}}</p>
					</div>
					<div class='comment-box-container hide'>
						<div class='comment-scroll-list-box'>
							<div class='comment-scroll-box hide'>
								<input type='image' class='scroll-icon scroll-up' src='/assets/comments_up.png'>
								<input type='image' class='scroll-icon scroll-down' src='/assets/comments_down.png'>
							</div>
							<div class='comment-list-box'>
								{% set comments = comment_query.fetch() %}
								{% for comment in comments: %}
								<div class='individual-comment-box' data-commentid={{comment.key.id()|string}}>
									<p class='comment-username'>{{comment.username}}</p>
									<p class='comment-text'>{{comment.comment_text}}</p>
									{% if comment.username == signedin_username %}
									<div class='comment-edit-box'>
										<img src='/assets/comment-delete.png' class='comment-edit-button comment-delete'>
										<img src='/assets/comment-edit.png' class='comment-edit-button comment-edit'>
									</div>
									{% endif %}
								</div>
								{% endfor %}
							</div>
						</div>
						<div class='comment-add-box' data-haikuid='{{haiku.key.id()|string}}'>
							{% if signedin_username != '' %}
							<div class='comment-add-icon-box'>
								<input type='image' class='comment-add-icon' src='/assets/add-comment.png'>
								<input type='image' class='comment-add-icon hide' src='/assets/comments_close.png'>
							</div>
							<div class='comment-add hide'>
								<form class='comment-form' method='post'>
									<div class='comment-form-box'>
										<textarea class='new-comment-text' name='comment_text' placeholder='ENTER COMMENT'></textarea>
									</div>
									<div class='form-footer'>
										<div class='button-box'>
											<input type='submit' class='comment-button' value='POST'>
										</div>
									</div>
								</form>
							</div>
							{% else %}
							<div>
								<a href='/signin' class='user-prompt'>Sign in to comment or vote</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}