{% extends "base.html" %}

{% block content %}
	{% for haiku in haikus: %}
	<div class='haiku-box'>
		<div class='username-section'>
			<p>{{haiku.username}}</p>
		</div>
		<div class='haiku-section'>
			<div class='haiku-box'>
				<p>
					{{haiku.stanza1}}<br>
					{{haiku.stanza2}}<br>
					{{haiku.stanza3}}<br>
				</p>
			</div>
		</div>
		<div class='comment-section'>
			<div class='comment-header'>
				<a href='/showcomments'
					<img src='http://placehold.it/30x30'>
				</a>
				<!-- {{comment_count}} -->
			</div>
			<div class='comment-box hide'>
				<div class='comment-list'>
					{% set comments = Comment.query(Comment.haiku_ref==haiku.key).fetch() %}
					{% for comment in comments: %}
					<div class='comment-box'>
						<p class='comment-username'>{{comment.username}}</p>
						<p class='comment-text'>{{comment.comment_text}}</p>
					</div>
					{% endfor %}
				</div>
				<div class='comment-add' data-haikuid='{{haiku.key.id()|string}}'>
					<form class='comment-form' > <!-- method='post' -->
						<div class='comment-form-box'>
							<textarea class='new-comment-text' name='comment_text'></textarea>
						</div>
						<div class='form-footer'>
							<div class='button-box'>
								<input type='submit' value='POST COMMENT'>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}