{% extends "base.html" %}

{% block content %}
	<form class='entry-form' method='post'>
		<div class='form-header'>
			<div id='username-box'>
				{{username}}
			</div>
		</div>
		<div class='entry-form-box'
			<div class = 'haiku-entry-row'>
				<label for='stanza1'>5 SYLLABLES</label>
				<input type='text' name='stanza1' value='{{stanza1}}'>
				{{stanza1_error}}
			</div>
			<div class = 'haiku-entry-row'>
				<label for='stanza2'>7 SYLLABLES</label>
				<input type='text' name='stanza2' value='{{stanza2}}'>
				{{stanza2_error}}
			</div>
			<div class = 'haiku-entry-row'>
				<label for='stanza3'>5 SYLLABLES</label>
				<input type='text' name='stanza3' value='{{stanza3}}'>
				{{stanza3_error}}
			</div>
		</div>
		<div class='form-footer'>
			<div class='color-choice'>
			</div>
			<div class='button-box'>
				<input type='submit' value='POST'>
			</div>
		</div>
	</form>
{% endblock %}