{% extends "base.html" %}

{% block content %}
	<div class='color-box {{haiku.color}}'>
		<div class='container'>
			<div class='haiku-box'>
				<div class='username-section'>
					<p>{{haiku.username}}</p>
				</div>
				<div class='haiku-section'>
					<div class='haiku-container'>
						<p>
							{{haiku.stanza1}}<br>
							{{haiku.stanza2}}<br>
							{{haiku.stanza3}}<br>
						</p>
					</div>
				</div>
				<div class='permalink-footer'>
					<a href="/" class='mainpage-link'>MAIN PAGE</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}