{% extends "base.html" %}

{% block content %}
	<div class='haiku box'>
		<div class='username-section'>
			<p>{{haiku.username}}</p>
		</div>
		<div class='haiku-section'>
			<div class='haiku-box'>
				<p>
					{{haiku.stanza1}}<br>
					{{haiku.stanza2}}<br>
					{{haiku.stanza3}}<br>
				</p>
			</div>
		</div>
<!-- comment section placeholder -->
<!-- 		<div class='comment-section'>
			<div class='comment-header'></div>
			{% for comment in haiku.comments: %}
			<div class='comment-box'>
				<p>{{comment.username}}</p>
				<p>{{comment.content}}</p>
			</div>
			{% endfor %}
			<div class='comment-footer'>
		</div> -->
	</div>
{% endblock %}