{% extends "base_userflow.html" %}

{% block content %}
	<div class='container'>
		<form class='signup-in-form' method='post'>
			<div class='user-form-box'>
				<div class='user-form-row'>
					<label for='username'>USERNAME</label>
					<input type='text' name='username' value='{{username}}' class='user-input {{header_color}}-accent'>
					<p class='input-error'>
						{{username_error}}
					</p>
				</div>
				<div class='user-form-row'>
					<label for='username'>PASSWORD</label>
					<input type='password' name='password' class='user-input  {{header_color}}-accent'>
					<p class='input-error'>
						{{password_error}}
					</p>
				</div>
				<div class='user-form-row'>
					<label for='username'>VERIFY PASSWORD</label>
					<input type='password' name='verify' class='user-input {{header_color}}-accent'>
					<p class='input-error'>
						{{verify_error}}
					</p>
				</div>
			</div>
			<div class='form-footer'>
				<div class='button-box'>
					<input type='submit' value='SIGN ME UP' class='user-submit-button'>
				</div>
				<div class='signin-exchange'>
					<a href='/signin' class='user-prompt'>Already signed up?</a>
				</div>
			</div>
		</form>
	</div>
{% endblock %}